
<div class="Stat_page">
  <div class="header_stat_page">
    <div (click)=Onclick() class="fleche_back"></div>
    <div class="titre_stat_page"></div>
  </div>
    <div class="separator_section"></div>
    <div class="under_header"></div>
    <div class="separator_section"></div>

  <div class="section_graph">
    <div class="nb_hour">
      
    </div>
    <div class="Tab_stat" id="0">
      
    </div>
    <div class='section_btn_week'>
      <div (click)=previous_week() class='btn_previous_week'>

      </div>
      
      <div (click)=next_week() class='btn_next_week'>
      
      </div>
    </div>
  </div>

</div>