<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Modifier</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="item" padding>
  <form [formGroup]="edit_item_form" (ngSubmit)="updateItem(edit_item_form.value)">
    <ion-item>
      <ion-label color="tertiary" position="floating">Title</ion-label>
      <ion-input type="text" formControlName="title" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="tertiary" position="floating">Description</ion-label>
      <ion-input type="text" formControlName="description" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="tertiary" position="floating">Modifier l'état de la tâche</ion-label>
      <ion-select formControlName="etat" required placeholder="Modifier l'état de la tâche">
        <ion-select-option value="A faire">À faire</ion-select-option>
        <ion-select-option value="Commencé">Commencé</ion-select-option>
        <ion-select-option value="Terminé">Terminé</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-button class="submit-btn" expand="block" type="submit" [disabled]="!edit_item_form.valid">Modifier</ion-button>
  </form>
  
  <ion-button (click)="delItem()" color="danger" expand="block">Supprimer</ion-button>

</ion-content>
